
@whiteColor: #f8f8ff;


@fontColor: @whiteColor;

body{

  h2,h3,h4{
    color: @fontColor;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  #appHeader{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    div{
      background-color: #b71c1c !important;
      height: 60px;
      h2{
        line-height: 60px;
      }
    }

  }

  .logout-btn{
    margin-right: 20px;
    margin-top: -53px;
  }
  .loginForm{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    input{
      color: @fontColor !important;
    }
  }

  #notification{
    text-align: center;
  }

  #summary{
    h3{
      margin-top: 0px;
    }
    margin-top: 10px;
    color: @fontColor;
     > div{
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: rgba(0,0,0,.2);
    }
  }

  #products{
    margin-top: 10px;
    .foodType{
      background-color: rgba(0,0,0,.2);
      .foodTypePanel{
        padding-bottom: 10px;
      }
      img{
        padding-top: 15px;
        padding-bottom: 15px;
      }
      margin-bottom: 10px;
      .orderCount{
        font-size: larger;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    color: @fontColor;
  }
  #appLoadingBarContainer{
    text-align: center;
    margin-top: 100px;
  }

  background-color: #222222;
}